@model OdeToFood.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home";
}

<div>
    <a class="btn btn-primary" asp-action="@nameof(HomeController.Create)">Create new restaurant</a>
</div>

<h2>Welcome!</h2>

@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant)
}