@model IEnumerable<OdeToFood.Models.Restaurant>

<h3>All restaurants</h3>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    @foreach (var restaurant in Model)
    {
        <tr>
            <td>@restaurant.Id</td>
            <td>@restaurant.Name</td>
        </tr>
    }
</table>