@using OdeToFood.Controllers
@model OdeToFood.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Create new restaurnt", nameof(HomeController.Create))
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Id</td>
            <td>
                @Html.ActionLink(restaurant.Name, nameof(HomeController.Details), new { id = restaurant.Id })
            </td>
        </tr>
    }
</table>

@section footer {
    <p>@Model.CurrentMessage</p>
}