@model OdeToFood.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home";
}

<div>
    <a asp-action="@nameof(HomeController.Create)">Create new restaurant</a>
</div>

<h2>Welcome!</h2>

@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant)
}

@section footer {
    <p>@Model.CurrentMessage</p>
}