@using OdeToFood.Controllers
@model OdeToFood.ViewModels.HomePageViewModel

<p>@Model.CurrentMessage</p>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Id</td>
            <td>
                @Html.ActionLink(restaurant.Name, nameof(HomeController.Details), new { id = restaurant.Id })
            </td>
        </tr>
    }
</table>